<template>
  <div class="container">
    <p>Login</p>
    Username:
    <input type="text" v-model="loginForm.username"/><br />
    Password:
    <input type="password" v-model="loginForm.password"/><br />
    <button v-on:click="onSubmit" type="button">Login</button>
    <span v-if="showMessage">{{ message }}</span>
  </div>  
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      loginForm: {
        username: '',
        password: '',
      },
      showMessage: false,
      message: '',
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();

      const path = 'http://localhost:5000/login'

      const username = this.loginForm.username;
      const password = this.loginForm.password;

      axios.post(path, { username: username, password: password })
        .then((res) => {
          if (res.data.authenticated) {
            localStorage.setItem('jwt', res.data.token);
            this.$router.push('/');
          }
        })
        .catch((error) => {
          const errorData = error.response.data;
          this.showMessage = true;
          this.message = errorData.message;
        });
    },
  },
};
</script>
