<template>
  <div class="container">
    <p>Todo List</p>
    <alert v-bind:message="alertMessage" v-if="showMessage"></alert>
    <input type="text" v-model="addTaskForm.task"/>
    <button v-on:click="onSubmit" type="button">Add Task</button>
    <ul>
    <li v-for="(item, index) in items" :key="index">
        {{ item.task }}
        <input type="text" v-model="item.updatedTask" v-if="item.updatePrep"/>
        <button type="button" v-on:click="onUpdate(item)">Update</button>
        <button type="button" v-on:click="onDelete(item)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert';

export default {
  data() {
    return {
      items: [],
      addTaskForm: {
        task: '',
      },
      alertMessage: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getItems() {
      const path = 'http://localhost:5000/items';
      axios.get(path)
        .then((res) => {
          this.items = res.data.items.map(item => ({
            ...item,
            updatePrep: false,
          }));
        })
        .catch((error) => {
          console.error(error);
        });
    },

    updateItem(itemId, payload) {
      const path = `http://localhost:5000/items/${itemId}`;
      axios.put(path, payload)
        .then((res) => {
          this.getItems();
          this.alertMessage = res.data.message;
          this.showMessage = true;
        })
        .catch((error) => {
          console.error(error);
        });
    },

    deleteItem(itemId) {
      const path = `http://localhost:5000/items/${itemId}`;
      axios.delete(path)
        .then((res) => {
          this.getItems();
          this.alertMessage = res.data.message;
          this.showMessage = true;
        })
        .catch((error) => {
          console.error(error);
        });
    },

    addItem(payload) {
      const path = 'http://localhost:5000/items';
      axios.post(path, payload)
        .then(() => {
          this.getItems();
          this.alertMessage = 'Task added';
          this.showMessage = true;
        })
        .catch((error) => {
          console.log(error);
          this.getItems();
        });
    },

    onSubmit(evt) {
      evt.preventDefault();
      const payload = {
        task: this.addTaskForm.task,
      };
      this.addItem(payload);
      this.addTaskForm.task = '';
    },

    onUpdate(item) {
      if (item.updatePrep) {
        const payload = {
          task: item.updatedTask,
        };
        this.updateItem(item.id, payload);
      } else {
        const newItem = item;
        newItem.updatePrep = true;
      }
    },
    onDelete(item) {
      this.deleteItem(item.id);
    },
  },
  created() {
    this.getItems();
  },
};
</script>
